# /etc/postfix/main.cf

smtpd_banner = $myhostname ESMTP $mail_name (Ubuntu)
biff = no

append_dot_mydomain = no
readme_directory = no

smtpd_tls_cert_file=/etc/ssl/certs/ssl-cert-snakeoil.pem
smtpd_tls_key_file=/etc/ssl/private/ssl-cert-snakeoil.key
smtpd_use_tls = yes
smtp_tls_security_level = {{ smtp_tls_security_level }}
smtp_sasl_auth_enable = {{ smtp_sasl_auth_enable }}
smtp_sasl_password_maps = {{ smtp_sasl_password_maps }}
smtp_sasl_security_options = {{ smtp_sasl_security_options }}
smtp_tls_CAfile = {{ smtp_tls_CAfile }}

relayhost = [{{ smtp_server }}]:{{ smtp_port }}
